<!DOCTYPE html>
<link href="style.css" rel="stylesheet" type="text/css">
<!--nav class="navbar navbar-expand-sm navbar-dark bg-dark"-->
<nav class="navbar navbar-expand-sm ">
  <a class="navbar-brand" id="brand" href="/">matcha<img src="favicon/favicon.png" class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
	 	<% if (token) { %>
      	<a class="nav-item nav-link" href="/p/u">profile (<%=user%>)</a>
      	<a class="nav-item nav-link" href="/visitors">visitors</a>
      	<a class="nav-item nav-link" href="/visitors/likes">likes</a>
        <!-- admin -->
          <% if (adminToken) { %>
            <a class="nav-item nav-link" href="/admin">admin</a>
          <%} %>
        <!-- eoc -->
        <a class="nav-item nav-link" href="/logout">logout</a>
	 	<%}else { %>
      	<a class="nav-item nav-link" href="/signup">signup</a>
      	<a class="nav-item nav-link" href="/login">login</a>
		<% } %>
    </div>
  </div>
</nav>
