<%- include ('partials/header') %>
<h3>enter username  to reset password</h3><br>
<form action="/f" method="post">
	<input type="text" id="username" name="username"><br>		
	<br>
	<input type="submit" value="submit">
</form>
<%- include ('partials/footer') %>
