<%- include ('partials/header') %>
<h3>please enter new password</h3><br>
<form action="/f/<%= token%>" method="post">
	<input type="password" id="password" name="password"><br>		
	<br>
	<input type="submit" value="submit">
</form>
<%- include ('partials/footer') %>
