<!DOCTYPE html>
<html>
  <head>
    <title>matcha</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark"><a class="navbar-brand" href="./">Matcha v1</a></nav>
    <div class="container"><br>
      <hr>
      <footer>
        <p>&copy; ksefeane | lnkambul | 2020</p>
      </footer>
    </div>
  </body>
</html>
